<div class="row" ng-hide="document._id">
  <div class="col-md-6">
      <h2>Create new document</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>First Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.firstName" required>
    </p>
    <p>
      <label>Last Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.SecondName" required>
    </p>
    <p>
      <label>Date of Birth</label>
      <input id="name" class="form-control" type="text" ng-model="document.dob">
    </p>
    <p>
      <label>eMED3 Ref (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.uniqueId" required>
    </p>
    <p>
      <label>Assessment Date (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.assessmentDate" required>
    </p>
    <p>
      <label>Start Date (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.validPeriodStartDate" required>
    </p>
    <p>
      <label>End Date (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.validPeriodEndDate" required>
    </p>
    <p>
      <label>Diagnosis (required)</label>
      <input id="name" class="form-control" type="text" ng-model="document.diagPrintedText" required>
    </p>
    <p>
      <label>National Insurance Number</label>
      <input id="name" class="form-control" type="text" ng-model="document.nino">
    </p>
    <p>
      <label>NHS Number</label>
      <input id="name" class="form-control" type="text" ng-model="document.nhsno">
    </p>
    <p>
      <label>Address Line One</label>
      <input id="name" class="form-control" type="text" ng-model="document.address1">
    </p>
    <p>
      <label>Postcode</label>
      <input id="name" class="form-control" type="text" ng-model="document.postcode">
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveDocument(document)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
